* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-brands {
  font-size: 32px;
}

.position {
  position: absolute;
  top: 100px;
  right: 40px;
}

ul {
  margin: 50px auto;
  list-style: none;
  width: 960px;
}

li {
  padding: 20px;
}

li:nth-child(odd) {
  background-color: #ababab;
}

.color-box{
  width: 960px;
  margin: 0 auto 10px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: yellow;
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: orange;
}